<div class="container">
  <h2>Person registration form</h2>
  <form [formGroup]="personForm" novalidate>
    <div class="form-group">
      <label for="firstName">First name:</label>
      <input id="firstName" formControlName="firstName" class="form-control" type="text" />
      <small>Notice the firstName -> first name in your error, 
        also if you use first_name or first-name.</small>
      <div *ngIf="errors.firstName.exist" class="alert alert-danger">
        {{errors.firstName.message}}
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input id="lastName" formControlName="lastName" class="form-control" type="text" />
      <div *ngIf="errors.lastName.exist" class="alert alert-danger">
        {{errors.lastName.message}}
      </div>
    </div>
    <div class="form-group">
      <label for="alias">Alias:</label>
      <input id="alias" formControlName="alias" class="form-control" type="text" />
      <small>With <strong>custom validator (and custom validation message, see password for default validation message)</strong>,
           unique aliases, registered aliases are sponge bob, patrick star... </small>
      <div *ngIf="errors.alias.exist" class="alert alert-danger">
        {{errors.alias.message}}
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" class="form-control" type="email" aria-describedby="emailHelp" />
      <small id="emailHelp">Notice email -> E-mail Address, using <strong>custom display name</strong>.</small>
      <div *ngIf="errors.email.exist" class="alert alert-danger">
        {{errors.email.message}}
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input id="age" formControlName="age" class="form-control" type="text" />
      <div *ngIf="errors.age.exist" class="alert alert-danger">
        {{errors.age.message}}
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>

  <h2>Register user form (nested form groups)</h2>
  <form [formGroup]="registerUserForm" novalidate>
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" formControlName="username" class="form-control" type="password" />
    </div>
    <div formGroupName="confirmPasswordGroup" class="well well-lg">
      <h4>Password (nested with custom validator):</h4>
      <div *ngIf="default(registerUserForm.get('confirmPasswordGroup'))" class="alert alert-danger">
        {{validationMessages.ofControl('confirmPasswordGroup', registerUserForm.get('confirmPasswordGroup'))}}
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" formControlName="password" class="form-control" type="password" />
      </div>
      <div *ngIf="default(registerUserForm.get('confirmPasswordGroup.password'))" class="alert alert-danger">
        {{validationMessages.ofControl('password', registerUserForm.get('confirmPasswordGroup.password'))}}
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Confirm Password:</label>
        <input id="passwordConfirm" formControlName="passwordConfirm" class="form-control" type="password" />
      </div>
      <div *ngIf="default(registerUserForm.get('confirmPasswordGroup.passwordConfirm'))" class="alert alert-danger">
        {{validationMessages.ofControl('passwordConfirm', registerUserForm.get('confirmPasswordGroup.passwordConfirm'))}}
      </div>
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>